body {
    width: 80;
    margin: 20px auto;
    background-image: linear-gradient(to right top, #b7a6b0, #d4a6ad, #eaaa9a, #edb681, #d7ca70, #c0d777, #a2e388, #7aeea3, #6cf2b8, #62f6cd, #5df9e0, #5ffbf1);
   }
    h1{
       color: deeppink;
       text-align: center;
     }   
      table {
        width: 100%;
     }
     button,input{
        width: 100%;
        font-size: 150%;
     }
     button{
      background-color:#b7a6b0 ;
    
   }
     input{
        text-align: center;
        outline-color:brown
     }
     .ac {
        color:crimson
     }